<div class="container">
    <h2>Add a Burger!</h2>
        <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                    <textarea class="form-control" id="burgerInput" rows="1" name="burger_name"></textarea>
                    <button id="burgerSubmitButton" type="submit" class="btn btn-primary-outline">Add Burger!</button>
                </div>
        </form>
</div>
<div class="container">
    <h2>Available Burgers</h2>

        {{#each burgers}}
            {{#unless this.devoured}}
               <p>{{this.burger_name}}</p>
                    <form action="/?_method=PUT" method="POST" class="devouredButton">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-primary">Devour It!</button>
                    </form>
            {{/unless}}
        {{/each}}


</div>

<div class="container">
    <h2>Devoured Burgers</h2>
        {{#each burgers}}
            {{#if this.devoured}}
                <p>
                    {{this.burger_name}}
                </p>
            {{/if}}
        {{/each}}
</div>